@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello Dan G! Thank You Shruti!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">We are doing this for Demo</a>.</p>
</div>
